body{
    margin: 0px;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(179, 179, 179); */
    background: url(https://images.pexels.com/photos/8892/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat center center fixed;
    background-size: cover;
    background-size: 100% 100%;
}

button{
    cursor: pointer;
}

/* //////////////////////// sign up syle */
#signUpDiv{
    width: 400px;
    height: 600px;
    background-color: lightblue;
    margin: 20px auto;
    position: relative;
    
}
#items{
    width: 375px;
    height: 575px;
    background-color: white;
    top: 12px;
    left: 12px;
    position: absolute;
}

#details{
    width: 325px;
    height: 525px;
    position: absolute;
    top: 25px;
    left: 25px;
}

.common{
    width: 125px;
    height: 40px;
    border-style: none;
    padding: 0;
    background-color: lightgray;
}


.info{
    background-color: lightgray;
    border-style: none;
    width: 275px;
    height: 40px;
    margin-top: 20px;
}

input::placeholder{
    padding: 5px;
}

#checkline{
    display: inline;
}


#button{
    margin-top: 30px;
    height: 40px;
    width: 125px;
    background-color: lightblue;
    border-style: none;
    color: white;
}

#button:hover{
    cursor: pointer;
    background-color: green;
}
#button:active{
    background-color: blue;
}
/* //////////////////////////////////////////////  end of sign up*/




/* ///////////////////////////////////////////// sign in style  */

#signIn{
    height: 500px;
    width: 500px;
    background-color: lightblue;
    margin: 20px auto;
}

#item{
    background-color: white;
    height: 450px;
    width: 450px;
    border-radius: 20px;
    position: relative;
    left: 25px;
    top: 25px;
}

#inner{
    height: 350px;
    width: 350px;
    position: absolute;
    left: 50px;
}

#header{
    text-align: center;
    padding-top: 30px;
}

.smallHeader{
    margin-bottom: 10px;
}

#remember{
    display: inline;
}

.inputs{
    height: 30px;
    width: 350px;
    border: 1px solid lightgray;
    padding: 0;
}

.inputs::placeholder{
    padding-left:10px ;
}

#submit{
    width: 350px;
    height: 30px;
    background-color: rgb(0, 105, 21);
    border: none;
    border-radius: 5px;
}

#submit:hover{
    background-color: gray;
    cursor: pointer;
}
#submit:active{
    background-color: blue;
}

#forgot{
    text-align: right;
    
}

/* ///////////////////////////////////////// end of sign In */

/* //////////////////////////////////////////// forgot password page */


#forgotDiv{


    width: 500px;
    height: 400px;
    background-color: rgb(106, 195, 224);
    margin: 20px auto;
    position: relative;
    
}

#innerF{
    margin-left: 30px;
    margin-top: 10px;
    justify-items: auto;
    width: 350px;
    height: 300px;
    background-color: white;
    top: 12px;
    left: 12px;
    position: absolute;
    padding-left: 55px;
    padding-top: 50px;
}


/*  //for products */
#product-list{
    height: 100VH;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content: center;
    /* margin-bottom: 20px; */
    padding-bottom: 20px;
}

.productContainerDiv{
    width: 300px;
    height: 300px;
    border: 1px black solid;
    margin: 20px;
}

.productDiv{  
    width: 100%;
    height: 100%;

    background-size: cover;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    opacity: 0.7;

}


.prod-top{
    display: none;
    color:white;
    height: 0px;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(71, 71, 71, 0.8));
    
}
.prod-buttom{
    height: 0px;
    display: none;
    margin-top: auto;
    background-color: rgb(84, 4, 4);
    color: white;
    border: none;
}

.productDiv:hover{
    opacity: 1;
}
.productDiv:hover > *{
    display: block;
    height: 20px;
}


/* Nav-bar */
/* General settings */
nav{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.nav-items, .dropdown-content{
    background-color: #000000;
    text-decoration: none;
    color: white;
    padding: 6px 20px;
}
#home:hover, #cart-button:hover{
    background-image: linear-gradient(#000000,#464d53);
}

/* Specific settings */
/* Nav logo */
#logo{
    font-size: large;
    background-image: none;
}

#home{
    padding-top: 7.5px;
    cursor: pointer;

}

#welcomHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;   
}

#sortBox{
width: 10vw;  
}
/* cart button */
#cart-button{
    position: relative;
    font-size: medium;
    border: none;
    color: rgb(179, 176, 176);
}
#cart-button:hover{
    color: white;
}

#del-btn{
    
}



/* Search bar & btn */

#search-bar{
    background-color: white;
    color: black;
    border-style: none;
    margin-left: auto;
    margin-right: 3vw;
    font-size: small;
    padding: 3px 20px;
    height: 90%;
    transform: translate(0, 25%);
    border-radius: 3px;
}



/* Cart Style */
.cart{
    display: block;
    max-height: 100px;
    width: 200px;
    background-color: lightgray;
    z-index: 3;
}
#cartContainerDiv{
    position: absolute;
    transform: translate(-35%, 32%);
    cursor: default;
}

#cartDiv {
    max-height: 100px;
    width: 200px;
    overflow-y: scroll;
    color: black;
}

#cart-summary{
    color: white;
    background-color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    
}

#checkout-btn {
    background-color: rgb(84, 4, 4);
    color: white;
    border: none;

}

@media(max-width:768px){
    .nav-items{
        display: none;
    }
    #logo{
        display: inline;
    }
}


.order-list{
   position: relative;
   color: green;
   width: 300px;
   height: 200px;
   border: 1px black dashed;
   background-color: white;
   flex-direction: column;
   margin: auto;
}

#checkout{
    height: 400px;
    width: 400px;
    background-color: rgba(201, 173, 230, 0.374);
    margin: 20px auto;
    position: relative
}

#innercheck{
    background-color: rgba(173, 174, 116, 0.515);
    height: 350px;
    width: 350px;
    border-radius: 20px;
    position: absolute;
    left: 25px;
    top: 25px;
    /* justify-content: center; */
    text-align: center  
}

#aproovebtn{

margin-top: 50px;

}