body{
    margin: 0px;
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(179, 179, 179); */
    background: url(https://images.pexels.com/photos/8892/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat center center fixed;
    background-size: cover;
    background-size: 100% 100%;
}

button{
    cursor: pointer;
}

/* ___Sign up syle_____________________________________________ */
/* ___________________________________________________________ */
#signUpDiv{
    width: 400px;
    height: 600px;
    background-color: rgba(143, 0, 0, 0.585);
    margin: 20px auto;
    position: relative;
    
}
#items{
    width: 375px;
    background-color: rgba(8, 10, 11, 0.878);
    height: 575px;
    top: 12px;
    left: 12px;
    position: absolute;
    border-radius: 10%;
}

#details{
    width: 325px;
    height: 525px;
    position: absolute;
    top: 25px;
    left: 25px;
}

.common{
    width: 125px;
    height: 40px;
    border-style: none;
    padding: 0;
    background-color: lightgray;
}


.info{
    background-color: lightgray;
    border-style: none;
    width: 275px;
    height: 40px;
    margin-top: 20px;
}

input::placeholder{
    padding: 5px;
}

#checkline{
    display: inline;
}


#button{
    margin-top: 30px;
    height: 40px;
    width: 125px;
    background-color: rgb(238, 0, 0);
    border-style: none;
    color: white;
}

#button:hover{
    cursor: pointer;
    background-color: rgba(143, 0, 0, 0.585);
}
#button:active{
    background-color: rgb(85, 85, 87);
}

#checkline{
    color: aliceblue;
    
}



/* //////////////////////////////////////////////  end of sign up*/




/* ___Sign in style____________________________________  */
/* ____________________________________________________ */

#signIn{
    height: 500px;
    width: 500px;
    background-color: rgba(0, 122, 163, 0.698);
    margin: 20px auto;
}

#item{
    background-color: rgba(179, 176, 176, 0.383);
    height: 450px;
    width: 450px;
    border-radius: 20px;
    position: relative;
    left: 25px;
    top: 25px;
}

#inner{
    height: 350px;
    width: 350px;
    position: absolute;
    left: 50px;
}

#header{
    text-align: center;
    padding-top: 30px;
}

.smallHeader{
    margin-bottom: 10px;
}

#remember{
    display: inline;
}

.inputs{
    height: 30px;
    width: 350px;
    border: 1px solid lightgray;
    padding: 0;
}

.inputs::placeholder{
    padding-left:10px ;
}
/* ! Mishel its ugly af!s */
#submit{
    width: 350px;
    height: 30px;
    background-color: rgb(0, 105, 21);
    border: none;
    border-radius: 5px;
}

#submit:hover{
    background-color: rgb(145, 49, 49);
    cursor: pointer;
}
#submit:active{
    background-color: gray;
}

#forgot{
    text-align: right;
    
}


/* ___Forgot password page_____________ */
/* ___________________________________ */


#forgotDiv{


    width: 500px;
    height: 400px;
    background-color: rgb(106, 195, 224);
    margin: 20px auto;
    position: relative;
    
}

#innerF{
    margin-left: 30px;
    margin-top: 10px;
    justify-items: auto;
    width: 350px;
    height: 300px;
    background-color: white;
    top: 12px;
    left: 12px;
    position: absolute;
    padding-left: 55px;
    padding-top: 50px;
}


/* ___TOS page_____________________________ */
/* _______________________________________ */

#tosDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 10vh;    */
    margin-top: 50px;
}





/* ___Products________________________________________________________ */
/* __________________________________________________________________ */

/* ___Products Nav-bar__________________________ */

/* General settings */
nav{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.nav-items{
    background-color: #000000;
    text-decoration: none;
    color: white;
    padding: 6px 20px;
}

#home:hover, #cart-button:hover{
    background-image: linear-gradient(#000000,#464d53);
}
/* ____________ */

#logo{
    font-size: large;
    background-image: none;
}

#home{
    padding-top: 7.5px;
    cursor: pointer;

}

#welcomHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;   
}

#sortDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;   
}


/* cart button */
#cart-button{
    position: relative;
    font-size: medium;
    border: none;
    color: rgb(179, 176, 176);
}
#cart-button:hover{
    color: white;
}


/* Search bar & btn */

#search-bar{
    background-color: white;
    color: black;
    border-style: none;
    margin-left: auto;
    margin-right: 3vw;
    font-size: small;
    padding: 3px 20px;
    height: 90%;
    transform: translate(0, 25%);
    border-radius: 3px;
}



/* ___Cart Style__________________________________________ */
.cart{
    display: block;
    max-height: 100px;
    width: 200px;
    background-color: black;
    color: white;
    z-index: 3;
}

/* Entire cart container */
#cartContainerDiv{
    position: absolute;
    transform: translate(-35%, 33%);
    cursor: default;
}

/* Order items container */
#cartDiv {
    min-height: 60px;
    max-height: 100px;
    width: 200px;
    overflow-y: scroll;
}
/* Scroll bar style */
#cartDiv::-webkit-scrollbar{
    width: 5px;
}

#cartDiv::-webkit-scrollbar-thumb{
    background-color: rgb(84, 4, 4);
    border-radius: 5px;
}
#cartDiv::-webkit-scrollbar-thumb:hover{
    background-color: rgb(119, 7, 7);
}

/* The added items */
.itemDiv:hover{
    background-image: linear-gradient(gray, black, gray);
    /* border-top: 0.5px solid black; */
}

/* lil' delete button */
.del-btn{
    border: none;
    color: red;
    background-color: inherit;
    border-right: 1px solid rgb(58, 57, 57);
    margin-right: 4px;


}

#cart-summary{
    /* color: white;
    background-color: black; */
    border-top: 3px solid rgb(84, 4, 4);
    padding-top: 3px;
    padding-bottom: 3px;
    
}

#checkout-btn {
    background-color: rgb(84, 4, 4);
    color: white;
    border: none;

}

#checkout-btn:hover {
    background-color: rgb(119, 7, 7);
    color: white;
    border: none;
}

#checkout-btn:active {
    background-color: rgb(84, 4, 4);
}


/* ___products_______________________________________________ */
#product-list{
    height: 100VH;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content: center;
}

.productContainerDiv{
    width: 300px;
    height: 300px;
    border: 1px black solid;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.productDiv{  
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    opacity: 0.7;

}


.prod-top{
    display: none;
    color:white;
    height: 0px;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(71, 71, 71, 0.8));
    
}
.prod-button{
    height: 0px;
    display: none;
    margin-top: auto;
    background-color: rgb(84, 4, 4);
    color: white;
    border: none;
}

.prod-button:hover {
    background-color: rgb(119, 7, 7);
}

.prod-button:active {
    background-color:rgb(84, 4, 4);

}

.productDiv:hover{
    opacity: 1;
}
.productDiv:hover > *{
    display: block;
    height: 30px;
}

.productDiv:hover,.productContainerDiv:hover{
    /* opacity: 1; */
    transform: scale(1.015);
    
}



/* ___All page________________________________________________ */
/* _______________________________________________ */
.order-list{
    position: relative;
    color: green;
    width: 300px;
    height: 200px;
    border: 1px black dashed;
    background-color: white;
    flex-direction: column;
    margin: auto;
}

#checkout{
    height: 400px;
    width: 400px;
    background-color: rgba(201, 173, 230, 0.374);
    margin: 20px auto;
    position: relative
}

#innercheck{
    background-color: rgba(173, 174, 116, 0.515);
    height: 350px;
    width: 350px;
    border-radius: 20px;
    position: absolute;
    left: 25px;
    top: 25px;
    /* justify-content: center; */
    text-align: center  
}

#aproovebtn{
    
    margin-top: 30px;
    
}

#confirm-container{
    width: 100%;
    color: white;
    font-size: xx-large;
    text-align: center;
}

@media(max-width:768px){
    .nav-items{
        display: none;
    }
    #logo{
        display: inline;
    }
}